<div class='container'>
    <div class = 'col-md-10'>

        <%  comments_paginated.each do |comment|%>
            <div class="row">
                <div class="col-sm-1">
                    <div class="thumbnail">
                        <img class="img-responsive user-photo" src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png">
                    </div>
                    <!-- /thumbnail -->
                </div>
                <!-- /col-sm-1 -->

                <div class="col-sm-7">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <strong>myusername</strong>
                            <span class="text-muted">
                                <%=distance_of_time_in_words_to_now(comment.created_at)%>
                            </span>
                        </div>
                        <div class="panel-body">
                            <%= comment.body%>
                        </div>
                        <!-- /panel-body -->
                    </div>
                    <!-- /panel panel-default -->
                </div>
                <!-- /col-sm-5 -->

            </div>
        <%end%>  
        <div class= 'col-lg-offset-3'>
            <%= will_paginate comments_paginated%> 
        
        </div>

    </div>

</div>
 