<div class="container">
  <p id="notice"><%= notice %></p>
 
  
  <div class="col-lg-12">

  
      <h1>Sermons</h1>
        
        
        <% @sermons.each do |sermon| %>
        
        <div class='col-lg-4'>
          <div class='panel panel-default article-panel'> 
                  
              <h3 class= 'panel-heading'><%= link_to sermon.title, sermon_path(sermon) %></h3>
          
              <div class='panel-body'>
      
                <p><%= sermon.body.truncate(200) %></p>
              </div>
          
              <%= link_to 'Read More..', sermon_path(sermon) %>
              <br/>
            </div>
        </div> 
            
          <% end %>
          
      
     
    </div>
</div> 
    
  
    
     
 